In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ls!

 Volume in drive C is OS
 Volume Serial Number is 9AC7-2A8A

 Directory of C:\Users\erinv\documents\data_science\projects\bank-marketing

File Not Found

In [3]:
! ls

Untitled.ipynb
data

In [4]:
cd data

C:\Users\erinv\documents\data_science\projects\bank-marketing\data

In [5]:
ls data

 Volume in drive C is OS
 Volume Serial Number is 9AC7-2A8A

 Directory of C:\Users\erinv\documents\data_science\projects\bank-marketing\data

File Not Found

In [6]:
!ls data

ls: cannot access 'data': No such file or directory

In [7]:
! ls

bank-full.csv
bank-names.txt
bank.csv

In [22]:
df = pd.read_csv('./bank-full.csv', delimiter=';') # Loading the data

In [21]:
df.head() # Viewing the top 5 rows

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [35]:
df.shape # Seeing how many rows and columns there are

(45211, 17)

In [36]:
df.describe() # Observing the descriptive stats

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [30]:
df.info() # Observing the data types and checking for nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [31]:
df.isna().sum() # Double checking for missing values/nulls

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [24]:
df.duplicated().sum() # Checking for duplicates

0

In [49]:
categorical = []
for col in df.columns:
        if df[col].dtype == 'object':
            categorical.append(col)
print(f'The categorical variables are: {categorical}')

The categorical variables are: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']

In [51]:
numerical = []
for col in df.columns:
    if df[col].dtype == 'int64':
        numerical.append(col)
print(f'The numerical variables are: {numerical}')

The numerical variables are: ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']